<html>
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Helloworld</title>
    <link rel="stylesheet" type="text/css" href="../framework/assets/css/framework.css?nocache">
    <link rel="stylesheet" type="text/css" href="../framework/assets/css/v3.css?nocache">
    <link rel="stylesheet" type="text/css" href="../framework/assets/css/index.css?nocache">
    <script src="../framework/assets/js/jquery.min.js"></script>
    <script src="../framework/assets/js/index.js"></script>
</head>
<body>

    <!-- Comment will be deleted -->
    <div id="header">
        <ul class="test some clearfix">
            <li class="red-l">Something here</li>
            <li class="red-l">Another thing here</li>
            <li class="red-l">More with <b>bold effects</b></li>
            <li class="red-l">Ok thats good!</li>
        </ul>
    </div>

     <!-- Comment will be deleted -->
    <div id="content">
        <p class="somestyle frontpage-heading">Everything must be the same</p>
        <img id="middle-test-image" src="assets/img/logo.png">
    </div>
    
    <!-- Comment will be deleted -->
    <div id="footer">Optimized + test <a class="red-a" href="#">a redlink</a></div>
</body>
</html>