@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: normal;
  src: url('../font/verdana/verdana.ttf') format("truetype");
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: url('../font/droidsans/DroidSans.ttf') format("truetype");
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  src: url('../font/pacifico/Pacifico.ttf') format('truetype');
}

@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: normal;
  src: url('../font/vollkorn/Vollkorn-Regular.ttf') format('truetype');
}

#c-0-20{
    margin:0 20px 10px;
    min-height:660px;
}

#c-10-20{
    margin:10px 20px;
    min-height:660px;
}

#c-20-20{
    margin:20px 20px;
    min-height:660px;
}


.email-secure {
    direction: rtl;
    text-align: left;
    unicode-bidi: bidi-override;
}

/*ERRORS*/
.error-list #error-description {
    background: none repeat scroll 0 0 #FFFFE1;
    float: left;
    margin-left: 10px;
    padding: 10px;
    width: 80%;
    color: #D32E2E;
}

.error-list #error-num {
    text-align: right;
    float: left;
    padding: 10px;
}